# System
.DS_Store

# JS & CSS
node_modules/

# Composer
vendor/
.php-cs-fixer.cache

# php-scoper
php-scoper
scoped/
dist/

# phpunit
.phpunit.result.cache
*.xml.dist.bak

# Other
*.sql
*.log
*.zip
*.afphoto~lock~

# Testing tools and outputs
/tests/**/reports/
/tests/**/results/
**/playwright-report/
**/playwright/.cache
**/playwright/.auth
playwright-results.json
.wp-env.override.json