thumbhash-attachment-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

thumbhash-attachment-field thumb-hash {
  display: block;
  width: auto;
  height: 26px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}
thumbhash-attachment-field.show thumb-hash {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 7px rgb(0 0 0 / 0.2);
  cursor: pointer;
}
thumbhash-attachment-field.show button {
  display: none !important;
}

[data-thumb-hash-value] {
  position: absolute;
  padding: 7px 10px;
  top: 0;
  left: 0;
  z-index: 2;
  color: white;
  opacity: 0.5;
  visibility: hidden;
}
thumbhash-attachment-field.show [data-thumb-hash-value] {
  visibility: visible;
}
